<div>
  <app-nav-bar [homepageActive]="true"></app-nav-bar>
  <div class="container">
    <!--welcome message and search bar-->
    <div>
      <div class="row top-buffer align-items-center">
        <div class="col-8">
          <h2 class="display-4">
            Welcome John
          </h2>
        </div>
        <div class="col-4">
          <div class="input-group mb-3 float-right">
            <div class="input-group-prepend">
              <span class="input-group-text">Search</span>
            </div>
            <input type="text" class="form-control" placeholder="Search...">
          </div>
        </div>
      </div>
    </div>

    <!--applications-->
    <div>
      <div class="row sep-buffer">
        <div class="col-12">
          <h4>
            Applications
          </h4>
        </div>
      </div>
      <div class="row top-buffer justify-content-start">
        <app-app-box class="app-buffer" [symbol]="'E'" [name]="'E-grant'" (click)="openEGrant()"></app-app-box>
        <app-app-box class="app-buffer" [symbol]="'R'" [name]="'Employee Records'" (click)="openEmployeeRecords()"></app-app-box>
        <app-app-box class="app-buffer" [symbol]="'M'" [name]="'Medical Records'" (click)="openMedicalRecords()"></app-app-box>
        <app-app-box class="app-buffer" [symbol]="'P'" [name]="'POS'" routerLink="/pos"></app-app-box>
        <app-app-box class="app-buffer" [symbol]="'D'" [name]="'Dashboard'" routerLink="/dashboard"></app-app-box>
      </div>
    </div>

    <!--Some sorta info-->
    <div>
      <div class="row sep-buffer">
        <div class="col-12">
          <h4>
            Extra info section
          </h4>
        </div>
      </div>
      <div class="row top-buffer justify-content-start">
        <h5 class="app-buffer">
          I was originally going to put the pos here. Now that I think about it, the pos I want to design will require a
          full page. So now it will be in its own separate component. Question is, what should be placed here instead?
          Maybe recent documents, or some other sort of meta data.
        </h5>
      </div>
    </div>
  </div>
</div>
