.top-buffer {
  margin-top:20px;
}

.sep-buffer {
  margin-top:40px;
}

.app-buffer {
  margin-right:20px;
  margin-left:20px;
}

.custom-bg {
  /* The image used */
  background-image: url("bg.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
