<!--<div class="box border">-->
  <!--<h1>{{name}}</h1>-->
<!--</div>-->

<!--<div class="box">-->
  <!--<p class="h2 text-dark text-center pt-2" style="margin-top: 8px">-->
    <!--{{symbol}}-->
  <!--</p>-->
  <!--<p class="h6 text-dark text-center m-3">{{name}}</p>-->
<!--</div>-->

<div class="card card-stats box">
  <div class="card-header card-header-icon">
    <div class="card-icon" [style.background-color]="color">
      <!--<i class="material-icons">content_copy</i>-->
      <b>{{symbol}}</b>
    </div>
    <!--<p class="card-category">Used Space</p>-->
    <!--<h3 class="card-title">49/50 <small>GB</small></h3>-->
    <h3 class="card-title">{{name}}</h3>
  </div>
  <!--<div class="card-body">-->
    <!--This is some text within a card body.-->
  <!--</div>-->
  <!--<div class="card-footer">-->
    <!--<div class="stats">-->
      <!--<i class="material-icons text-danger">warning</i>-->
      <!--<a href="#pablo">Get More Space...</a>-->
    <!--</div>-->
    <!--This is some text within a card body.-->
  <!--</div>-->
</div>
