.lst-item {
  color: black;
  font-size: 12px;
  border-radius: 5px;
  margin: 1px;
}

/*.lst-item:hover {*/
  /*filter: brightness(98%);*/
/*}*/

.folder {
  text-decoration: none;
  cursor: pointer;
  color: black;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}
