<div *ngIf="!isObject(root.label)">
  <a class="folder" data-toggle="collapse" [href]="'#collapse' + root.title">
    <i class="fa fa-user" *ngIf="level === 0"> {{root.title}}</i>
    <i class="fa fa-folder-o" *ngIf="level !== 0"> {{root.title}}</i>
  </a>
</div>

<div *ngIf="isObject(root.label)">
  <a class="folder">
    <i class="fa fa-user" *ngIf="level === 0"> {{root.title}}</i>
    <i class="fa fa-file-text" *ngIf="level !== 0"> {{root.title}}</i>
  </a>
</div>

<div class="collapse" [id]="'collapse' + root.title" *ngIf="root.children.length">
  <ul class="list-group">
    <li class="list-group-item lst-item"
        (dblclick)="onDblClick(child, $event)"
        [ngStyle]="{'background-color': colors[level]}"
        [class.selected] = "child === selectedChild"
        *ngFor="let child of root.children">
      <app-list [root]="child" [level]="level + 1"></app-list>
    </li>
  </ul>
</div>
